Grab needed packages

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use('ggplot')

import warnings
def ignore_warn(*args, **kwagrs):
    pass
warnings.warn = ignore_warn

First, import data and perform some basic checking.

In [38]:
data = pd.read_csv('../data/trainingset.txt')

Let's get some info on the shape of the data, the columns, and the first few rows.

In [39]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,44,JobCat9,single,secondary,no,29,yes,no,unknown,5,may,0,1,-1,0,unknown,TypeA
1,47,JobCat3,married,unknown,no,1506,yes,no,unknown,5,may,0,1,-1,0,unknown,TypeA
2,31,unknown,single,unknown,no,1,no,no,unknown,5,may,0,1,-1,0,unknown,TypeA
3,26,JobCat6,single,tertiary,no,447,yes,yes,unknown,5,may,0,1,-1,0,unknown,TypeA
4,42,JobCat4,divorced,tertiary,yes,2,yes,no,unknown,5,may,0,1,-1,0,unknown,TypeA

In [40]:
data.shape

(27272, 17)

In [41]:
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,27272.000000,27272.000000,27272.000000,27272.0,27272.000000,27272.000000,27272.000000
mean,39.880463,1361.079459,15.769287,0.0,2.739623,40.074105,0.578872
std,11.426248,3015.207142,8.300983,0.0,3.011097,100.200984,1.942882
min,16.000000,-6847.000000,1.000000,0.0,1.000000,-1.000000,0.000000
25%,31.000000,73.000000,8.000000,0.0,1.000000,-1.000000,0.000000
50%,37.000000,447.000000,16.000000,0.0,2.000000,-1.000000,0.000000
75%,48.000000,1423.000000,21.000000,0.0,3.000000,-1.000000,0.000000
max,95.000000,98417.000000,31.000000,0.0,63.000000,871.000000,58.000000

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27272 entries, 0 to 27271
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        27272 non-null  int64
 1   job        27272 non-null  object
 2   marital    27272 non-null  object
 3   education  27272 non-null  object
 4   default    27272 non-null  object
 5   balance    27272 non-null  int64
 6   housing    27272 non-null  object
 7   loan       27272 non-null  object
 8   contact    27272 non-null  object
 9   day        27272 non-null  int64
 10  month      27272 non-null  object
 11  duration   27272 non-null  int64
 12  campaign   27272 non-null  int64
 13  pdays      27272 non-null  int64
 14  previous   27272 non-null  int64
 15  poutcome   27272 non-null  object
 16  y          27272 non-null  object
dtypes: int64(7), object(10)
memory usage: 3.5+ MB

In [43]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

Let'c check some of the value distributions.

In [44]:
count_list = ['age', 'job', 'marital', 'education', 'contact', 'month', 'poutcome']

for feature in count_list:
    plt.figure(figsize=(12, 7))
    sns.countplot(x=feature, data=data)
    plt.xticks(rotation=90)
    plt.show()

TypeError: countplot() takes from 0 to 1 positional arguments but 2 were given